<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.federavesm.smapp">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".actividades.login.ALogin" android:configChanges="keyboardHidden|orientation|screenSize"/>

        <activity android:name=".actividades.clientes.AClientes" android:configChanges="keyboardHidden|orientation|screenSize"/>


        <activity android:name=".actividades.resumenRepartidor.ASeleccionarDatosResumen" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".actividades.resumenRepartidor.ADatosResumen" android:configChanges="keyboardHidden|orientation|screenSize"/>



        <activity android:name=".actividades.diaRepartidor.ASeleccionarDiaRepartidor" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".actividades.diaRepartidor.ADiaRepartidor" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".actividades.configuracion.AConfiguracion" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".actividades.configuracion.AConfiguracionBaseDeDatos" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".actividades.configuracion.AActualizarClientes" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".actividades.configuracion.AEliminarDiaRepartidor" android:configChanges="keyboardHidden|orientation|screenSize"/>

        <activity android:name=".actividades.diaRepartidor.ARepartos" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".actividades.diaRepartidor.gastos.AGastos" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".actividades.diaRepartidor.gastos.AGasto" android:configChanges="keyboardHidden|orientation|screenSize"/>

        <activity android:name=".actividades.diaRepartidor.ADatosDelDia" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".actividades.diaRepartidor.AEnviarDia" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".actividades.diaRepartidor.AAgregarCliente" android:configChanges="keyboardHidden|orientation|screenSize"/>

        <activity android:name=".actividades.diaRepartidor.reparto.AReparto" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".actividades.diaRepartidor.cargas.ACargamento" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".actividades.diaRepartidor.cargas.ACargasMenu" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".actividades.diaRepartidor.cargas.ACarga" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".actividades.diaRepartidor.cargas.ADescargasMenu" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".actividades.diaRepartidor.cargas.ADescarga" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".actividades.diaRepartidor.cargas.AVerCarga" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".actividades.diaRepartidor.cargas.AVerDescarga" android:configChanges="keyboardHidden|orientation|screenSize"/>


        <activity android:name=".actividades.diaRepartidor.reparto.alquiler.AAlquiler" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".actividades.diaRepartidor.reparto.alquiler.AEntregaAlquiler" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".actividades.diaRepartidor.reparto.alquiler.APagoAlquiler" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".actividades.diaRepartidor.reparto.ADatosCliente" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".actividades.diaRepartidor.reparto.ADeudaProductos" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".actividades.diaRepartidor.reparto.AObservacion" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".actividades.diaRepartidor.reparto.AVacios" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".actividades.diaRepartidor.reparto.AVentaProductos" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".actividades.diaRepartidor.reparto.AVisita" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".actividades.diaRepartidor.reparto.vertedores.AVertedores" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".actividades.diaRepartidor.reparto.vertedores.ACambioVertedores" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".actividades.diaRepartidor.reparto.vertedores.AEntregaVertedores" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".actividades.diaRepartidor.reparto.vertedores.AVentaVertedores" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".actividades.diaRepartidor.reparto.dispensers.ADispensers" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".actividades.diaRepartidor.reparto.dispensers.ACambioDispensers" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".actividades.diaRepartidor.reparto.dispensers.AEntregaDispensers" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".actividades.diaRepartidor.reparto.dispensers.AVentaDispensers" android:configChanges="keyboardHidden|orientation|screenSize"/>





    </application>

</manifest>